

<div class="die-wrapper">

    <div id="{{id}}" class="{{styles.die}}">
        <div class="face one">
          <img src="../img/one.png" alt="one">
        </div>
        <div class="face two">
            <img src="../img/two.png" alt="one">
        </div>
        <div class="face three">
          <img src="../img/three.png" alt="one">
        </div>
        <div class="face four">
            <img src="../img/five.png" alt="one">
        </div>
        <div class="face five">
            <img src="../img/four.png" alt="one">
        </div>
        <div class="face six">
         <img src="../img/six.png" alt="one">
        </div>
    </div>
</div>
<!--
-->
