<div class="main">
    <div class="player">
        <div class="dieSlot">
            {{{playerDieA}}}
        </div>
        <div class="dieSlot">
            {{{playerDieB}}}
        </div>
    </div>

    <div class="opponend">
        <div class="dieSlot">
            {{{opponendDieA}}}
        </div>
        <div class="dieSlot">
            {{{opponendDieB}}}
        </div>
    </div>

    
</div>
